@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  background-color: #201e2b;
  color: #fff;
}


@layer components {
  .skills-cyan {
    @apply bg-white p-3 rounded-xl shadow-xl hover:bg-cyan-500 cursor-pointer flex justify-center items-center;
  }
  .skills-black {
    @apply bg-white p-3 rounded-xl shadow-xl hover:bg-black cursor-pointer flex justify-center items-center;
  }
}